*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // So 1rem equals 10px;

  // @media only screen and (max-height: 400px) {
  //   font-size: 30%;
  // }

  @media only screen and (min-width: 2200px) and (min-height: 900px) {
    font-size: 100%;
  }

  @media only screen and (min-width: 2800px) and (min-height: 1150px) {
    font-size: 135%;
  }

  // @media only screen and (max-width: 1250px) and (min-height: 425px) {
  // font-size: 55.5%;
  // }

  @media only screen and (max-width: 600px) {
    font-size: 47.5%;
  }

  // @media only screen and (max-height: 600px) {
  //   font-size: 45%;
  // }

  // @media only screen and (max-height: 400px) {
  //   font-size: 35%;
  // }

  // @media only screen and (max-height: 300px) {
  //   font-size: 30%;
  // }

  // @media only screen and (max-width: 900px) and (min-height: 425px) {
  //   font-size: 46.7%;
  // }

  // @media only screen and (max-width: 600px) and (min-height: 425px) {
  //   font-size: 30%;
  // }

  // @media only screen and (max-width: 325px) and (min-height: 425px) {
  //   font-size: 24%;
  // }

  // @media only screen and (max-height: 425px) {
  //   font-size: 24%;
  // }
}

body {
  font-family: "Baloo 2", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 0rem;
}
