.item__audio-container {
  display: flex;
  font-family: "Overpass";
  font-size: 1rem;
  color: white;
  border: none;
  height: 3.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 1rem 0 0 1rem;
  bottom: 3rem;
  right: 0;
  padding: 0.8rem;
  width: 10rem;
  background-color: rgba($color: #2f2e49, $alpha: 0.85);
}

.item {
  &__audio {
    background: none;
    height: 120%;
    border: none;

    &--icon {
      margin-left: -0.8rem;
      margin-right: -1rem;
    }

    &-indicator {
      margin: 0.1rem;
      margin-bottom: 2px;
      background-color: white;
      height: 5px;
      width: 0.4rem;
      animation-name: audioPlay;
      animation-duration: 1000ms;
      animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
      animation-iteration-count: infinite;

      &-delay100 {
        animation-delay: 100ms;
      }

      &-delay250 {
        animation-delay: 250ms;
      }
      &-delay400 {
        animation-delay: 700ms;
      }
    }

    &--icon {
      height: 100%;
    }

    &-timer {
      font-family: "Overpass", sans-serif;
      margin-top: 3px;
    }
  }
}
@keyframes audioPlay {
  from {
    height: 5px;
  }
  50% {
    height: 80%;
  }
  to {
    height: 5px;
  }
}

.animation__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  height: 100%;
}
