$color-primary: #424165;
$color-secondary: #2f2e49;

:root {
  --color-primary: #424165;
  --color-secondary: #2f2e49;
  --color-tertiary: #2e2e48;

  --color-navbar: #3a3956;

  --color-decoration: rgb(161, 158, 240);
}

.body {
  font-family: "Overpass", sans-serif;

  height: calc(100vh - 6rem);

  @media only screen and (max-width: 850px) {
    height: calc(100vh - 11rem);
  }

  display: flex;
}
