.content {
  &__wrapper {
    background-image: linear-gradient(to top, #2e2e48 15%, rgba(161, 158, 240, 0.75)),
      url(../../../images/content_bg.jpg);

    background-size: cover;
    background-position: center;
    // background-position-x: 0%;
    // background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;

    padding-bottom: 10rem;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1.5rem;
    padding: 2rem 5rem;

    @media only screen and (max-width: 1700px) {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    @media only screen and (max-width: 1100px) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
  }
}

.item {
  position: relative;
  color: white;
  border-radius: 0 0 2rem 2rem;
  &__img {
    // height: 27rem;
    &--img {
      height: 27rem;
      width: 100%;
      object-fit: fill;
      border-radius: 2rem 2rem 0 0;
    }
  }

  &__index {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    font-family: "Overpass";
    font-size: 2rem;
    font-weight: 1000;
    position: absolute;
    top: 2rem;
    left: 2rem;

    padding: 2rem 2rem 2rem 2rem;
    border-radius: 50%;
    background-color: #474664;
    line-height: 1rem;

    &-number {
      margin-top: 0.4rem;
    }
  }

  &__details {
    padding: 4rem 2rem 1rem 2rem;
    font-size: 1.4rem;
    background-color: #474664;
    border-radius: 0 0 2rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__spotify-link {
    position: absolute;
    top: 20%;
    right: 0;
    padding: 0.8rem 3rem;

    background-color: #3a3956;
    border-radius: 0.8rem 0 0 0.8rem;
  }

  &__artist {
    color: #f0efff;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Overpass", sans-serif;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  &__title {
    color: #f0efff;
    font-size: 2rem;
    font-weight: 1000;
    text-transform: uppercase;
    height: 5rem;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 90%;
  }

  &__popularity {
    border-top: 1px solid #686787;
    padding: 1rem 1rem 0rem 0rem;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: #c4c3e6;
  }
}
