.tag {
  &__underwork {
    border-radius: 1rem 0.2rem 1rem 0.2rem;
    background-color: #ffb300;
    font-family: "Overpass";
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.4rem 1.2rem;
    margin: 0 0.5rem;
    color: black;
    font-weight: 900;
    line-height: 1rem;
    text-align: center;
  }

  &__premium {
    border-radius: 1rem 0.2rem 1rem 0.2rem;
    background-color: #00ff99;
    font-family: "Overpass";
    font-size: 1.1rem;
    letter-spacing: 0px;
    padding: 1rem 0.6rem;
    margin: 0 0.5rem;
    color: black;
    font-weight: 900;
    line-height: 1rem;
    text-align: center;
    box-shadow: 1px 1px 1.5rem #00ff99;
    text-align: center;
  }
}
