.side-nav {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 2rem 1rem;
  box-sizing: border-box;

  &__item {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    background-color: #474664;
    border-radius: 0.5rem;
    box-sizing: content-box;
    // padding-bottom: 1rem;

    &--active {
      background-color: #2f2f48;
      border: 2px solid #a19ef0;
    }

    &:hover {
      background-color: #3f3e58;
    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      width: 10.5rem;
      padding: 1rem;
    }
  }

  &__icon {
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: end;
    // background-color: red;
    // margin-right: -1rem;
    margin-left: 1.5rem;
    // text-align: center;
  }
}
